<div class="row"></div>
<div class="row"></div>
<div class="container">
  <div class="row">
    {{#each bars}}
    <div class="row col s3 center-align">
      <div class="pic_box hover-fun">
        <a href="/bars/{{this.id}}"><img src="{{ this.bar_pic }}" class="responsive-img" alt="{{ this.name }}"></a>
        <div class="lower">
          <a href="/bars/{{this.id}}"><h5>{{ this.name }}</h5></a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <br>
</div>
