<div class="container">
  {{#each bars}}
  <div class="row">
    <div class="col-md-2">
      <img src="{{ this.bar_pic }}"
        alt="{{ this.name }}">
    </div>
    <div class="col-md-6">
      <a href="/bars/{{this.id}}"><h5>{{ this.name }}</h5></a>
      <p>{{ this.address }}</p>
      {{#if this.beer}}
        <p>Serves beer</p>
      {{/if}}
      {{#if this.liquor}}
        <p>Serves liquor</p>
      {{/if}}
    </div>
  </div>
  {{/each}}
</div>
