<div class="container">
  <div class="row">
    <div class="col-md-1">
        <h3>{{ truck.name }}</h3>
      <img src="{{ truck.truck_pic }}"
      alt="{{ truck.name }}">
    </div>
    <div class="col-md-6">
      <p>Food: {{ truck.food }}</p>
      <p>Safety rating: {{ truck.safety }}</p>
    </div>
  </div>
</div>

{{> _form}}
