<div class="container">
  <div class="row"></div>
  <div class="row"></div>
  <div class="row">
    <div class="col m6 offset-m3 center-align">
      <h3>{{truckWithReviews.name}}</h3>
      <img src="{{ truckWithReviews.truck_pic }}"alt="{{ truckWithReviews.name }}">
      <h5>Food: {{ truckWithReviews.food }}</h5>
      <h6 class="red-text">Safety Rating: {{ truckWithReviews.safety }}</h6>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s8 m8 offset-m2">
      <section>
        <table class="highlight responsive-table">
          <thead>
            <tr>
              <th>User</th>
              <th>Review</th>
            </tr>
          </thead>
          <tbody>
            {{#each truckWithReviews.reviews }}
            <tr>
              <td>username</td>
              <td>{{ this.this.review }}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>

<div class="row">
  <section>
    {{> _form}}
  </section>
</div>
