<div class="container">
  <div class="row"></div>
  <div class="row"></div>
  <div class="row">
    <div class="col m6 offset-m3 center-align">
      <h3>{{monsterTruck.truckDeets.name}}</h3>
      <img src="{{ monsterTruck.truckDeets.truck_pic }}"alt="{{ monsterTruck.truckDeets.name }}">
      <h5>Food: {{ monsterTruck.truckDeets.food }}</h5>
      <h6 class="red-text">Most Recent Inspection: {{ monsterTruck.inspectionDate }}</h6>
      <h6 class="red-text">Food Inspection Result: {{ monsterTruck.inspectionResult }}</h6>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s8 m4 offset-m4 center-align">
      <section>
        <table class="responsive-table centered">
          <thead>
            <tr>
              <th><h5>Bars I'm Visiting Today</h5></th>
            </tr>
          </thead>
          <tbody>
            {{#each monsterTruck.schedDeets }}
            <tr>
              <td><a href="/bars/{{this.bar_id}}">{{this.name}}</a></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s8 m6 offset-m3">
      <section>
        <table class="highlight responsive-table">
          <thead>
            <tr>
              <th>User</th>
              <th>Review</th>
            </tr>
          </thead>
          <tbody>
            {{#each monsterTruck.commentDeets}}
            <tr>
              <td>{{ this.user_id }}</td>
              <td>{{ this.review }}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>

<div class="row">
  <section>
    {{> _form}}
  </section>
</div>
