<h3>SHOW ONE BAR</h3>
<div class="container">
  <h1>{{ bar.name }}</h1>
  <div class="row">
    <div class="col-md-2">
      <img src="{{ bar.bar_pic }}"
        alt="{{ bar.name }}">
    </div>
    <div class="col-md-6">
      <p>Address: {{ bar.address }}</p>
      <p>Serves beer? {{ bar.beer }}</p>
    </div>
  </div>
</div>
