<h3>SHOW ONE TRUCK</h3>
<div class="container">
  <h1>{{ truck.name }}</h1>
  <div class="row">
    <div class="col-md-2">
      <img src="{{ truck.truck_pic }}"
        alt="{{ truck.name }}">
    </div>
    <div class="col-md-6">
      <p>Food: {{ truck.food }}</p>
      <p>Safety rating: {{ truck.safety }}</p>
    </div>
  </div>
</div>
