<h3>SHOW ONE TRUCK</h3>
<div class="container">
  <h1>{{ truckWithReviews.name }}</h1>
  <div class="row">
    <div class="col-md-2">
      <img src="{{ truckWithReviews.truck_pic }}"
        alt="{{ truckWithReviews.name }}">
    </div>
    <div class="col-md-6">
      <p>Food: {{ truckWithReviews.food }}</p>
      <p>Safety rating: {{ truckWithReviews.safety }}</p>
    </div>
    {{#each truckWithReviews.reviews }}
      <p>Comments: {{ this.this.review }}</p>
    {{/each}}
  </div>
</div>
