<div class="row"></div>
<div class="row"></div>
<div class="container">
  <div class="row">
    {{#each trucks}}
    <div class="col s3 center-align">
      <div class="pic_box">
        <img src="{{ this.truck_pic }}" alt="{{ this.name }}">
        <div class="lower">
          <a href="/trucks/{{this.id}}"><h5>{{ this.name }}</h5></a>
        </div>
        <div class="show">
          <div class="row"></div>
          <h6>Type of Food: {{ this.food }}</h6>
          <h6 class="red-text">Safety Rating: {{ this.safety }}</h6>
          <div class="row"></div>
          <div class="row"></div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
