<div class="row"></div>
<div class="row"></div>
<div class="container">
  <div class="row">
    {{#each trucks}}
    <div class="row col s3 center-align">
      <div class="pic_box">
        <a href="/trucks/{{this.id}}">
          <img class="responsive-img" src="{{ this.truck_pic }}" alt="{{ this.name }}"></a>
          <div class="lower">
            <a href="/trucks/{{this.id}}"><h5>{{ this.name }}</h5></a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <br>
  </div>
