<h3>This is the Get All Trucks page</h3>
<div class="container">
  {{#each trucks}}
  <div class="row">
    <div class="col-md-2">
      <img src="{{ this.truck_pic }}"
        alt="{{ this.name }}">
    </div>
    <div class="col-md-6">
      <p>Name: {{ this.name }}</p>
      <p>Type of food: {{ this.food }}</p>
      <p>Safety rating: {{ this.safety }}</p>
    </div>
  </div>
  {{/each}}
</div>
